/* Cascading Style Sheets for "index.html" */

.hyperlinka1 {
    background: darkslategrey;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.aa {
    text-align: center;
}

/* Cascading Style Sheets for "about.html" */
/* Cascading Style Sheets for "home.html" */
/* Cascading Style Sheets for "a1.html" */
.a {
    text-align: center;
}

/* Cascading Style Sheets for "a2.html" */
/* Cascading Style Sheets for "a3.html" */
/* Cascading Style Sheets for "home.html" */