* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
}

.name {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarLinks li {
    list-style: none;
}

.navbarLinks li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbarLinks li:hover{
    background-color: #555;
}

.toggleBtn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 18px;
}

.toggleBtn .bar{
    height: 3px;
    width: 100px;
    background: white;
}

@media (max-width: 600px) {
    .toggleBtn {
        display: flex;
    }

    .navbarLinks {
        display: none;
        width: 100%
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navbarLinks li {
        text-align: center;
    }

    .navbarLinks li a {
        padding: 0.5rem 1rem;
    }

    .navbarLinks.active {
        display: flex;
    }
}